{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="davidboxshadows">
	<div class="card">
		<div class="card-header bg-primary text-white">
			Add/Edit Cluster Node
		</div>
		<div class="card-body">
			<div class="content-section">
				<form method="POST">
					{% csrf_token %}
					<fieldset class="form-group">
						{{ form | crispy }}
					</fieldset>
					<div class="form-group">
						<button class="btn btn-outline-info" type="submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


{% endblock content %}