<div class="container">

	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
			<div class="davidboxshadows">
				<div class="card">
					<div class="card-body bg-primary text-white text-center">
						<h2 id="TotalNetworks"></h2>
						<h2>Networks</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
			<div class="davidboxshadows">
				<div class="card">
					<div class="card-body bg-success text-white text-center">
						<h2 id="TotalUsers"></h2>
						<h2>Users</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
			<div class="davidboxshadows">
				<div class="card">
					<div class="card-body bg-primary text-white text-center">
						<h2 id="TotalFarms"></h2>
						<h2>Farms</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
			<div class="davidboxshadows">
				<div class="card">
					<div class="card-body bg-warning text-white text-center">
						<h2 id="TotalSensors"></h2>
						<h2>Sensors</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<div class="davidboxshadows">
				<div class="card">
					<div class="card-header bg-success text-white">
						Active Sensors by Network
					</div>
					<div class="card-body">
						<div id="sensorHealthByNetwork"></div></li>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<div class="davidboxshadows">
				<div class="card">
					<div class="card-header bg-success text-white">
						Sensors Status
					</div>
					<div class="card-body">
						<div id="sensorsStatus"></div>
						</li>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="davidboxshadows">
				<div class="card">
					<div class="card-header bg-success text-white">
						Number of Farms by Type
					</div>
					<div class="card-body">
						<div id="numberoffarmsByType"></div></li>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="davidboxshadows">
				<div class="card">
					<div class="card-header bg-success text-white">
						Number of Sensors by Type
					</div>
					<div class="card-body">
						<div id="numberofsensorsByType"></div></li>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">

		<!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="davidboxshadows">
				<div class="card">
					<div class="card-header bg-primary text-white">
						Farms Status
					</div>
					<div class="card-body">
							<div id="farmsStatus"></div></li>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="davidboxshadows">
				<div class="card">
					<div class="card-header bg-warning text-white">
						Networks Status
					</div>
					<div class="card-body">
						<div id="networksStatus"></div></li>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
	function drawChart_sensorsStatus() {
		var data = google.visualization.arrayToDataTable([
			['Task', 'Hours per Day'],
			['Up', getSensorHealth],
			['Down', 1 - getSensorHealth]
		]);

		var options = {
			colors: ['green', 'red'],
			pieHole: 0,
			chartArea: {
				width: '100%',
				height: '100%'
			}
		};

		var chart = new google.visualization.PieChart(document.getElementById('sensorsStatus'));
		chart.draw(data, options);
	}

	// function drawChart_farmsStatus() {
	// 	var data = google.visualization.arrayToDataTable([
	// 		['Task', 'Hours per Day'],
	// 		['Up',     94],
	// 		['Down',      2]
	// 	]);

	// 	var options = {
	// 		colors: ['green', 'red'],
	// 		pieHole: 0,
	// 		chartArea: {
	// 			width: '100%',
	// 			height: '100%'
	// 		}
	// 	};

	// 	var chart = new google.visualization.PieChart(document.getElementById('farmsStatus'));
	// 	chart.draw(data, options);
	// }

	// function drawChart_networksStatus() {
	// 	var data = google.visualization.arrayToDataTable([
	// 		['Task', 'Hours per Day'],
	// 		['Up',     6],
	// 		['Down',      1]
	// 	]);

	// 	var options = {
	// 		colors: ['green', 'red'],
	// 		pieHole: 0,
	// 		chartArea: {
	// 			width: '100%',
	// 			height: '100%'
	// 		}
	// 	};

	// 	var chart = new google.visualization.PieChart(document.getElementById('networksStatus'));
	// 	chart.draw(data, options);
	// }

    function drawChart_sensorHealthByNetwork() {

			networksList = [['Network', 'Percentage']];

			for (i = 0; i < getAllNetwork.length; i++)
			{
				networkID = getAllNetwork[i].networkID
				networksList.push([networkID, getAllNetworkHeath[networkID] * 100]);
			}

      var data = google.visualization.arrayToDataTable(networksList);

      var options = {
				bars: 'horizontal', // Required for Material Bar Charts.
      };

        var chart = new google.charts.Bar(document.getElementById('sensorHealthByNetwork'));
        chart.draw(data, options);
    };

    function drawChart_numberoffarmsByType() {
		farmNames = ['']
		farmCounts = ['']
		for (i = 0; i < getFarmTotalwithType.length; i++) {
			farmNames.push(getFarmTotalwithType[i][0]);
			farmCounts.push(getFarmTotalwithType[i][1])
		}

		var data = google.visualization.arrayToDataTable([
			farmNames,
			farmCounts,
		]);

		var options = {
			chart: {
				bar: {
					groupWidth: 40
				},
			}
        };

		var chart = new google.charts.Bar(document.getElementById('numberoffarmsByType'));
		chart.draw(data, google.charts.Bar.convertOptions(options));
	}

  function drawChart_numberofsensorsByType() {

		sensorNames = ['']
		sensorCounts = ['']

		for (i = 0; i < getSensorTotalwithType.length; i++) {
			sensorNames.push(getSensorTotalwithType[i][0]);
			sensorCounts.push(getSensorTotalwithType[i][1])
		}

		var data = google.visualization.arrayToDataTable([
		  sensorNames,
			sensorCounts,
		]);

		var options = {
			chart: {
				bar: {
					groupWidth: 40
				},
				legend: 'none'
			}
        };

		var chart = new google.charts.Bar(document.getElementById('numberofsensorsByType'));
		chart.draw(data, google.charts.Bar.convertOptions(options));
	}

	var charts = "done";
	$(window).resize(function() {
		if(charts == "done"){
			charts = "waiting";
			setTimeout(function(){
				drawAllCharts();
				charts = "done"
			}
			,100);
		}
	});

	function drawAllCharts() {
		drawChart_sensorsStatus();
		// drawChart_farmsStatus();
		// drawChart_networksStatus();
		drawChart_sensorHealthByNetwork();
		drawChart_numberofsensorsByType();
		drawChart_numberoffarmsByType();
	}
</script>

<script>
	getAllNetwork = {{ getAllNetwork | safe }}
	getAllNetworkHeath = {{ getAllNetworkHeath | safe }}
	getUsersTotal = {{ getUsersTotal | safe }}
	getFarmsTotal = {{ getFarmsTotal | safe }}
	getSensorsTotal = {{ getSensorsTotal | safe }}
	getFarmTotalwithType = {{ getFarmTotalwithType | safe }}
  getSensorTotalwithType = {{ getSensorTotalwithType | safe }}
	getSensorHealth = {{ getSensorHealth | safe }}


	if (getAllNetwork == "error")
	{

	}
	else
	{
		document.getElementById('TotalNetworks').innerText = getAllNetwork.length;
		document.getElementById('TotalUsers').innerText = getUsersTotal;
		document.getElementById('TotalFarms').innerText = getFarmsTotal;
		document.getElementById('TotalSensors').innerText = getSensorsTotal;

		google.charts.load("current", {packages:["corechart"]});
		google.charts.setOnLoadCallback(drawChart_sensorsStatus);
		// google.charts.load("current", {packages:["corechart"]});
		// google.charts.setOnLoadCallback(drawChart_farmsStatus);
		// google.charts.load("current", {packages:["corechart"]});
		// google.charts.setOnLoadCallback(drawChart_networksStatus);
		google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart_sensorHealthByNetwork);
		google.charts.load('current', {'packages':['bar']});
		google.charts.setOnLoadCallback(drawChart_numberoffarmsByType);
		google.charts.load('current', {'packages':['bar']});
		google.charts.setOnLoadCallback(drawChart_numberofsensorsByType);
	}
</script>