<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="card">
				<div class="card-body bg-primary text-white">
					<h1>520 Users</h1>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="card">
				<div class="card-body bg-success text-white">
					<h1>903 Farms</h1>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="card">
				<div class="card-body bg-warning text-white">
					<h1>11,384 Farms</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header bg-success text-white">
					Sensor Health by Network
				</div>
				<div class="card-body">
					<div id="chart_div0"></div></li>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="card">
				<div class="card-header bg-primary text-white">
					Sensors Status
				</div>
				<div class="card-body">
					<div id="chart_div1"></div></li>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="card">
				<div class="card-header bg-success text-white">
					Farms Status
				</div>
				<div class="card-body">
						<div id="chart_div2"></div></li>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="card">
				<div class="card-header bg-info text-white">
					Networks Status
				</div>
				<div class="card-body">
					<div id="chart_div3"></div></li>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="card">
							<div class="card-body">
								sensor 1
								<br>
								sensor 2
								<br>
								sensor 3
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="card">
							<div class="card-body">
								2
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="card">
							<div class="card-body">
								3
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
	var data = google.visualization.arrayToDataTable([
		['Task', 'Hours per Day'],
		['Up Sensors',     489],
		['Down Sensors',      5]
	]);

	var options = {
		colors: ['green', 'red'],
		pieHole: 0.4,
	};

	var chart = new google.visualization.PieChart(document.getElementById('chart_div1'));
	chart.draw(data, options);
	}
</script>

<script type="text/javascript">
	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
	var data = google.visualization.arrayToDataTable([
		['Task', 'Hours per Day'],
		['Up Farms',     94],
		['Down Farms',      2]
	]);

	var options = {
		colors: ['green', 'red'],
		pieHole: 0.4,
	};

	var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
	chart.draw(data, options);
	}
</script>

<script type="text/javascript">
	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
	var data = google.visualization.arrayToDataTable([
		['Task', 'Hours per Day'],
		['Up Networks',     6],
		['Down Networks',      1]
	]);

	var options = {
		colors: ['green', 'red'],
		pieHole: 0.4,
	};

	var chart = new google.visualization.PieChart(document.getElementById('chart_div3'));
	chart.draw(data, options);
	}
</script>

<script>
	google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawStuff);

    function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
        	['Opening Move', 'Percentage'],
			["King's pawn (e4)", 44],
			["Queen's pawn (d4)", 31],
			["Knight to King 3 (Nf3)", 12],
			["Queen's bishop pawn (c4)", 10],
			['Other', 3]
        ]);

        var options = {
			title: 'Chess opening moves',
			width: 900,
			legend: { position: 'none' },
			chart: { title: 'Chess opening moves',
					subtitle: 'popularity by percentage' },
			bars: 'horizontal', // Required for Material Bar Charts.
			axes: {
			x: {
				0: { side: 'top', label: 'Percentage'} // Top x-axis.
			}
			},
    		bar: { groupWidth: "90%" }
        };

        var chart = new google.charts.Bar(document.getElementById('chart_div0'));
        chart.draw(data, options);
    };
</script>
