{% extends "main/base.html" %}
{% load static %}

{% block content %}

{% load static %}

<div class="card">
    <div class="card-header bg-primary text-white">
        "{{ farmname }}" Farm
    </div>
    <div class="card-body">
        <div id="map">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="{% url 'main-editFarm' farmid=farmid %}" >
                <button type="button" class="btn btn-primary">Edit Farm</button>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="{% url 'main-addClusterNode' farmid=farmid %}" >
                <button type="button" class="btn btn-primary">Add Cluster Node</button>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="{% url 'main-addSensorNode' farmid=farmid %}" >
                <button type="button" class="btn btn-primary">Add Sensor Node</button>
            </a>
        </div>
    </div>
</div>



{% include "main/justmap.html" %}

{% endblock content %}

