{% extends "main/base.html" %}
{% load static %}

{% block content %}

{% load static %}

<div class="card">
    <div class="card-header bg-primary text-white">
        "{{ farmname }}" Farm
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div id="NodeInspector" class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                </div>
                <div id="map" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a href="{% url 'main-editFarm' farmid=farmid %}" >
                        <button type="button" class="btn btn-primary btn-block">Edit Farm</button>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a href="{% url 'main-addClusterNode' farmname=farmname farmid=farmid %}" >
                        <button type="button" class="btn btn-primary btn-block">Add Cluster Node</button>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a href="{% url 'main-addSensorNode' farmname=farmname farmid=farmid %}" >
                        <button type="button" class="btn btn-primary btn-block">Add Sensor Node</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "main/justnodeinspector.html" %}
{% include "main/justmap.html" %}

{% endblock content %}

