{% load static %}

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkLJ7SLGqjDIyeLjRPBmG7C0KTXpsF6xY&callback=initMap">
</script>

<script type="text/javascript">
	function goToMapDetails(name, farmID)
	{
		location.href="{% url 'main-adminmapdetails' farmname=12345 farmid=67890 %}".replace("12345", name).replace("67890", farmID);
	}

	function initMap()
	{
		getFarmsInNetwork = {{ getFarmsInNetwork | safe }}
		getNetworkbyID = {{ getNetworkbyID | safe }}

		lat = getNetworkbyID.lat;
		lon = getNetworkbyID.lon;
		zoom = 6

		if (getFarmsInNetwork.length > 0)
		{
			lat = getFarmsInNetwork[0].lat;
			lon = getFarmsInNetwork[0].lon;
			zoom = 10
		}

		var mapOptions = {
			zoom: zoom,
			center: {
				lat: lat,
				lng: lon
			}
		}

		// New Map
		var map1 = new google.maps.Map(document.getElementById('map'), mapOptions);

		google.maps.event.addListener(map1, 'click',
			function(event) {
				addMarker({coords: event.latLng});
		});

		for (var i = 0; i < getFarmsInNetwork.length; i++)
		{
			AddNode(getFarmsInNetwork[i]);
		}

		function AddNode(farm)
		{
			var marker = new google.maps.Marker({
				position: {
					lat: farm.lat,
					lng: farm.lon
				},
				map: map1,
				icon: GetIcon(),
			});

			var infoWindow = new google.maps.InfoWindow({
				content: '<h3>' + farm.name + '</h3>'
			});

			marker.addListener('click', function() {
				goToMapDetails(farm.name, farm.farmID);
			});

			function GetIcon()
			{
				url = "{% static 'main/img/' %}" + farm.type + ".png"

		      	var icon = {
					url: url,
					size: new google.maps.Size(128, 128),
					scaledSize: new google.maps.Size(48, 48),
					origin: new google.maps.Point(0, 0),
					anchor: new google.maps.Point(24, 24)
		        };

		        return icon;
			}
		}
	}
</script>