{% extends "main/base.html" %}
{% load static %}

{% block content %}

<div class="davidboxshadows">
  <div class="card">
    <div class="card-header bg-primary text-white">
      Networks Map
    </div>
    <div class="card-body">
      <div id="map">
      </div>
      <a class="nav-link" href="{% url 'createNetwork' %}">
          <button type="button" class="btn btn-primary btn-lg btn-block">Create Network</button>
        </a>
    </div>
  </div>
</div>

{% include "main/allnetworksmap.html" %}

{% endblock content %}
