{% load static %}

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkLJ7SLGqjDIyeLjRPBmG7C0KTXpsF6xY&callback=initMap">
</script>

<script type="text/javascript">
	function goToMap(networkID)
	{
		location.href="{% url 'main-allfarms' networkid=12345 %}".replace("12345", networkID);
	}

	function initMap()
	{
        results = {{ results | safe}}

		var mapOptions = {
			zoom: 4,
			center: {
				lat: 40.4925, lng: -96.9018
			}
		}

		var map = new google.maps.Map(document.getElementById('map'), mapOptions);

		google.maps.event.addListener(map, 'click',
			function(event) {
				addMarker({coords: event.latLng});
		});

		for (var i = 0; i < results.length; i++)
		{
			AddNode(results[i]);
		}

		function AddNode(network)
		{
			var marker = new google.maps.Marker({
				position: { lat: network.lat, lng: network.lon },
				map: map,
				icon: GetIcon(network),
			});

			var infoWindow = new google.maps.InfoWindow({
				content: '<h3>' + network.networkID + '</h3>'
			});

			marker.addListener('click', function() {
				goToMap(network.networkID);
			});
		}

		function GetIcon(network)
		{
			url = "{% static 'main/img/network.png' %}";
			
	      	var icon = {
				url: url,
				size: new google.maps.Size(128, 128),
				scaledSize: new google.maps.Size(64, 64),
				origin: new google.maps.Point(0, 0),
				anchor: new google.maps.Point(32, 32)
	        };

	        return icon;
		}
	}
</script>