{% extends "main/base.html" %}
{% load static %}

{% block content %}

{% load static %}

<div class="card">
    <div class="card-header bg-primary text-white">
        Billing
    </div>
    <div class="card-body">
        <h3>Estimated Total $4.03</h3>
        <hr>
        <h4>Details</h4>
        <p></p>
        <h5>SmartAgCloud Service Charges</h5>
        <h6>Installation Fee: $35.00</h6>
        <h6>Data Storage Costs Fee Rate: 0.003$ per KB</h6>
        <h6>Per Sensor Fee (one time): 6.00$ per KB</h6>

    </div>
</div>

{% endblock content %}
