{% load static %}

<script type="text/javascript">
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkLJ7SLGqjDIyeLjRPBmG7C0KTXpsF6xY&callback=initMap">
</script>

<script type="text/javascript">
	function goToMapDetails(name)
	{
		location.href="{% url 'main-adminmapdetails' farmname=12345 %}".replace("12345", name);
	}

	function initMap()
	{
        displayInfo = {{ displayInfo | safe}}

		var mapOptions = {
			zoom: 10,
			center: {
				lat: 37.3382, lng: -121.8863
			}
		}

		// New Map
		var map1 = new google.maps.Map(document.getElementById('map'), mapOptions);

		google.maps.event.addListener(map1, 'click',
			function(event) {
				addMarker({coords: event.latLng});
		});

		for (var i = 0; i < displayInfo.Farms.length; i++)
		{
			AddNode(displayInfo.Farms[i]);
		}

		function AddNode(farm)
		{
			var marker = new google.maps.Marker({
				position: { lat: farm.Lat, lng: farm.Lon },
				map: map1,
				icon: GetIcon(),
			});

			var infoWindow = new google.maps.InfoWindow({
				content: '<h3>' + farm.Name + '</h3>'
			});

			marker.addListener('click', function() {
				goToMapDetails(farm.Name);
			});

			function GetIcon()
			{
				url = "{% static 'main/img/' %}" + farm.Type + ".png"

		      	var icon = {
					url: url,
					size: new google.maps.Size(128, 128),
					scaledSize: new google.maps.Size(48, 48),
					origin: new google.maps.Point(0, 0),
					anchor: new google.maps.Point(24, 24)
		        };

		        return icon;
			}
		}
	}
</script>