{% load static %}

<div class="container">
	<!-- <div class="row">
	    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	        <div class="davidboxshadows">
	            <div class="card">
	                <div class="card-body bg-primary text-white text-center">
                        <h2 id="TotalFarms">2</h2>
	                    <h2>Farms</h2>
	                </div>
	            </div>
	        </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="davidboxshadows">
                <div class="card">
                    <div class="card-body bg-warning text-white text-center">
                        <h2 id="TotalSensors">15</h2>
                        <h2>Sensors</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="davidboxshadows">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        Active Sensors by Farm
                    </div>
                    <div class="card-body">
                        <div id="sensorHealthByFarm"></div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="davidboxshadows">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Sensors Status
                    </div>
                    <div class="card-body">
                        <div id="sensorsstatus"></div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row"> -->

        <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="davidboxshadows">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        Farms Status
                    </div>
                    <div class="card-body">
                            <div id="farmsstatus"></div></li>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- </div> -->
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    function drawChart_sensorsstatus() {
    var data = google.visualization.arrayToDataTable([
        ['Task', 'Hours per Day'],
        ['Up',     489],
        ['Down',      5]
    ]);

	var options = {
		colors: ['green', 'red'],
		pieHole: 0,
		chartArea: {
		width: '100%',
		height: '100%'
		}
		};

    var chart = new google.visualization.PieChart(document.getElementById('sensorsstatus'));
    chart.draw(data, options);
    }

    function drawChart_farmsstatus() {
    var data = google.visualization.arrayToDataTable([
        ['Task', 'Hours per Day'],
        ['Up',     94],
        ['Down',      2]
    ]);

		var options = {
		colors: ['green', 'red'],
		pieHole: 0,
		chartArea: {
		width: '100%',
		height: '100%'
		}
		};

    var chart = new google.visualization.PieChart(document.getElementById('farmsstatus'));
    chart.draw(data, options);
    }

    function drawChart_sensorHealthByFarm() {

		farmsList = [['Farm', '%']];

        for (var key in getAllFarmHeathbyUser){
            farmsList.push([key, getAllFarmHeathbyUser[key] * 100]);
        }

        var data = google.visualization.arrayToDataTable(farmsList);

        var options = {
			bars: 'horizontal', // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('sensorHealthByFarm'));
        chart.draw(data, options);
    };

	var charts = "done";
	$(window).resize(function() {
		if(charts == "done"){
			charts = "waiting";
			setTimeout(function(){
				drawAllCharts();
				charts = "done"
			}
			,100);
		}
	});

    function drawAllCharts() {
        drawChart_sensorHealthByFarm();
        drawChart_sensorsstatus();
        drawChart_farmsstatus();
    }
</script>

<script>

    getAllFarmHeathbyUser = {{ getAllFarmHeathbyUser | safe }}

    if (getAllFarmHeathbyUser == "error")
    {

    }
    else
    {
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart_sensorsstatus);
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart_farmsstatus);
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawChart_sensorHealthByFarm);
    }
</script>


