{% load static %}

<script type="text/javascript">
	function UpdateNodeInspectorCluster(clusternode, sensornodes)
	{
		$("#NodeInspector").html(DisplayClusterNodeSensors(clusternode, sensornodes));
	}

	function UpdateNodeInspectorSensorNode(clusternode, sensornode, sensornodes)
	{
		$("#NodeInspector").html(DisplaySensorNodeSensors(clusternode, sensornode, sensornodes));
	}

	function DisplaySensorNodeSensors(clusternode, sensornode, sensornodes)
	{
		var html = '<div>';

		html += '<h3>SensorNodeID: ' + sensornode.sensornodeid + ', Lat: ' + sensornode.lat + ', Lon: ' + sensornode.lon + '</h3>'

		html += '<table id="sensordetails" class="table table-light table-bordered table-hover">'
		html += 	'<thead class="thead-light">'
		html += 		'<tr>'
		html += 			'<th>SensorID</th>'
		html += 			'<th>Type</th>'
		html += 			'<th>Status</th>'
		html +=				'<th>Sensor Actions</th>'
		html += 		'</tr>'
		html += 	'</thead>'
		html += '<tbody class="table-striped">'

		for (i = 0; i < sensornodes.length; i++) {
			if (sensornodes[i].sensornodeid == sensornode.sensornodeid)
			{
				sensorlist=sensornodes[i]['sensorlist']
				for (j=0; j < sensorlist.length; j++) {
					html +='<tr>'
					html +='<td>' + sensorlist[j]['sensorid'] + '</td>'
					html +='<td>' + sensorlist[j]['type'] + '</td>'
					html +='<td>' + sensorlist[j]['status'] + '</td>'

					html += '<td>'
					html += 	'<button class="btn btn-default btn-primary" onclick="DataButtonClicked(12345)" type="button">'.replace('12345', "'" + sensorlist[j]['sensorid'] + "'")
					html +=			'<div>'
					html +=				'Data'
					html += 		'</div>'
					html += 	'</button>'
					html += '</td>'

					html +='</tr>'
				}
			}
		}
		html +='</tbody>'
		html +='</table>'

		html += '</div>';

		return html;
	}

	function DisplayClusterNodeSensors(clusternode, sensornodes)
	{
		var html = '<div>'



		html += '<h3>ClusterNodeID: ' + clusternode.clusternodeid + ', Lat: ' + clusternode.lat + ', Lon: ' + clusternode.lon + '</h3>'

		html += '<table id="sensordetails" class="table table-light table-bordered table-hover">'
		html += 	'<thead class="thead-light">'
		html +=			'<tr>'
		html += 			'<th>SensorNodeID</th>'
		html +=				'<th>SensorID</th>'
		html +=				'<th>Type</th>'
		html +=				'<th>Status</th>'
		html += 			'<th>Sensor Actions</th>'
		html += 		'</tr>'
		html += 	'</thead>'
		html += 	'<tbody class="table-striped">'

		for (i = 0; i < sensornodes.length; i++) { 
			sensorlist=sensornodes[i]['sensorlist'] 
			for (j=0; j < sensorlist.length; j++) {
				html += '<tr>'
				html += '<td>' + sensornodes[i].sensornodeid + '</td>'
				html += '<td>' + sensorlist[j]['sensorid'] + '</td>'
				html += '<td>' + sensorlist[j]['type'] + '</td>'
				html += '<td>' + sensorlist[j]['status'] + '</td>'

				html += '<td>'
				html += 	'<button class="btn btn-default btn-primary" onclick="DataButtonClicked(12345)" type="button">'.replace('12345', "'" + sensorlist[j]['sensorid'] + "'")
				html +=			'<div>'
				html +=				'Data'
				html += 		'</div>'
				html += 	'</button>'
				html += '</td>'

				html += '</tr>'
			}
		}

		html += 	'</tbody>'
		html += '</table>'

		html += '</div>';

		return html;
	}
</script>

<script>
	$(document).ready(function() {
		$('#sensordetails').DataTable( {
			"pagingType": "full_numbers"
		} );
	} );
</script>