{% load static %}

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkLJ7SLGqjDIyeLjRPBmG7C0KTXpsF6xY&callback=initMap">
</script>

<script type="text/javascript">
	function initMap()
	{
		getFarmbyID = {{ getFarmbyID | safe }};
		getNodesinFarm = {{ getNodesinFarm | safe }}

		var mapOptions = {
			zoom: 12,
			center: {
				lat: getFarmbyID.lat,
				lng: getFarmbyID.lon
			}
		}

		var map1 = new google.maps.Map(document.getElementById('map'), mapOptions);

		for (var i = 0; i < getNodesinFarm.length; i++)
		{
			for (var j = 0; j < getNodesinFarm[i].sensornodelist.length; j++)
			{
				AddNode(getNodesinFarm[i].sensornodelist[j]);
				DrawConnection(getNodesinFarm[i], getNodesinFarm[i].sensornodelist[j]);
			}
			AddNode(getNodesinFarm[i]);
		}

		function AddNode(node)
		{
			var marker = new google.maps.Marker({
				position: { lat: node.lat, lng: node.lon },
				map: map1,
				icon: GetIcon(),
			});

			var infoWindow = new google.maps.InfoWindow({
				content: '<h3>' + node.sensornodeid + '</h3>'
			});

			marker.addListener('click', function() {
				UpdateNodeInspector(node.sensornodeid);
			});

			function GetIcon()
			{
				//if (node.Status == "Active")
				url = "{% static 'main/img/GreenNode.png' %}";

				//if (node.Status == "InActive")
				//url = "{% static 'main/img/RedNode.png' %}";

		      	var icon = {
					url: url,
					size: new google.maps.Size(32, 32),
					origin: new google.maps.Point(0, 0),
					anchor: new google.maps.Point(16, 16)
		        };

		        return icon;
			}
		}

		function DrawConnection(Node1, Node2)
		{
			var flightPath = new google.maps.Polyline({
				path: [{lat: Node1.lat, lng: Node1.lon},
					   {lat: Node2.lat, lng: Node2.lon}],
				geodesic: true,
				strokeColor: '#FF0000',
				strokeOpacity: 1.0,
				strokeWeight: 2
			});

			flightPath.setMap(map1);
		}
	}
</script>